h3{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}
.abc{
    text-align: center;
}
thead{
    background-color: aqua;
    color: brown;
}
.p-table{
    width: 600px;
}
.addEmp{
    margin-left: 740px;
    // position: absolute;
}