<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-5">
            <div class="card card-body border-5 bg-info">
                <form class="form" [formGroup]="forgotForm" (ngSubmit)="submit()">
                    <div class="row" *ngIf="hideMailId">
                        <h5>Provide the email address associated with your account to recover your password.</h5>
                        <div class="col">
                            <mat-label>Enter Your Mail-Id :</mat-label>
                        </div>
                        <div class="col">
                            <mat-form-field>
                                <input matInput placeholder="Enter Email Here..." formControlName="email">
                                <mat-error *ngIf="forgotForm.get('email')?.hasError('required')">Email is
                                    Mandatory</mat-error>
                            </mat-form-field>
                        </div>
                        <div *ngIf="showOTPInput" class="row">
                            <div class="col">
                                <mat-label>Enter OTP :</mat-label>
                            </div>
                            <div class="col">
                                <mat-form-field>
                                    <input matInput placeholder="Enter OTP Here..." name="enterOtp" formControlName="enterOtp">
                                    <mat-error *ngIf="forgotForm.get('enterOtp')?.hasError('required')"> OTP is
                                        Mandatory</mat-error>
                                </mat-form-field>
                            </div>
                            <p>Generated OTP: {{ generatedOTP }}</p>
                        </div>
                        <button mat-raised-button color="primary" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>